<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Personas</h2>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>APELLIDO/S</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let persona of personas" class="text-center">
                        <td>{{persona.id}}</td>
                        <td>{{persona.nombre}}</td>
                        <td>{{persona.apellidos}}</td>
                        <td>
                            <button (click)="modificar(persona)" class="btn btn-secondary">Modificar</button>
                            <button (click)="borrar(persona)" class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>